<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clearwater TodoMVC</title>
    <%= assets(:css) %>
  </head>
  <body>
    <div id="todoapp"></div>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="http://github.com/jgaskins">Jamie Gaskins</a></p>
    </footer>
    <%= assets(:js) %>
  </body>
</html>
